__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

.venv/
venv/
.env

*.so

.mypy_cache/
.ruff_cache/
.pytest_cache/

*.log
mlflow.db
mlruns/

*.local.yaml
out
TODO.md
data/
docs/superpowers/
local/
